<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="handleScroll($any($event))">
  <!-- This is the purple header at the top of the page. It must be fixed height-->
  <div class="header">My Header</div>
  <!-- Below the headerHeight is the height of the header should above in pixels-->
  <app-sticky [backgroundColor]="'purple'" [scrollTop]="scrollTop" [headerHeight]="100">
    <ion-toolbar>
      <ion-buttons>
        <ion-button><ion-icon name="cafe-outline"></ion-icon></ion-button>
        <ion-button><ion-icon name="grid-outline"></ion-icon></ion-button>
        <ion-button><ion-icon name="people-outline"></ion-icon></ion-button>
        <ion-button><ion-icon name="calendar-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </app-sticky>
  
    <ion-list>
      <ion-item *ngFor="let item of items">{{item}}</ion-item>
    </ion-list>
  
</ion-content>