.header {
  height: 100px;
  background-color: purple;

  // CSS below is for the header text
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
}

ion-toolbar {
  border-bottom: 1px solid #444;
}